.list {
  display: flex;
  width: 60%;
  column-gap: 0.5rem;
  row-gap: 1rem;
  flex-wrap: wrap;

  &__item {
    margin-top: 2rem;
    height: 15rem;
    padding: 0.5rem;
    width: 23%;
    border-radius: 15px;
    max-width: 23%;
    min-width: 23%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
