.dama-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dama {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 50vh;

  .dama__box {
    width: 12%;
    height: 12vh;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #6665ee;

    &__stone {
      border: 3px solid red;
      border-radius: 50%;
      width: 80%;
      height: 80%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }
  }

  .black {
    background-color: #333;
  }

  .white {
    background-color: #ddd;
  }

  .dama__coordinate {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .dama__coordinate__label {
    width: 12%;
    text-align: center;
    color: #6665ee;
  }

  .dama__coordinate__label--left {
    text-align: left;
  }

  .move-history {
    margin-top: 20px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
      }
    }
  }
}
