.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 20vh;

  &__img {
    border-radius: 50%;
    border: 1px solid $dark-blue;
    padding-left: 10px;
    height: 80%;
  }
  &__title {
    color: $dark-blue;
  }
  &__money {
    width: 100%;
    background: linear-gradient(180deg, #2ecc71, #1abc9c);
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
