.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
  }
  &__table {
    display: flex;
    flex-direction: column;

    row-gap: 0.5rem;
    &__row {
      &__column {
        &:nth-child(1) {
          width: 20%;
        }
        &:nth-child(2) {
          width: 10%;
        }
        &:nth-child(3) {
          width: 10%;
        }
      }
    }
  }
}
